version: '3.8'
services:
  front:
    image: docker.registry.fyrstain.com/legio/front:latest
    environment:
      - REACT_APP_FHIR_URL=${REACT_APP_FHIR_URL}
      - REACT_APP_COHORTING_URL=${REACT_APP_COHORTING_URL}
      - REACT_APP_DATAMART_URL=${REACT_APP_DATAMART_URL}
      - REACT_APP_KNOWLEDGE_URL=${REACT_APP_KNOWLEDGE_URL}
      - REACT_APP_TERMINOLOGY_URL=${REACT_APP_TERMINOLOGY_URL}
      - REACT_APP_MAPPING_URL=${REACT_APP_MAPPING_URL}
      - REACT_APP_CQL_URL=${REACT_APP_CQL_URL}
      - REACT_APP_VALUESET_RESEARCHSTUDYPHASES_URL=${REACT_APP_VALUESET_RESEARCHSTUDYPHASES_URL}
      - REACT_APP_VALUESET_RESEARCHSTUDYSTUDYDESIGN_URL=${REACT_APP_VALUESET_RESEARCHSTUDYSTUDYDESIGN_URL}
      - REACT_APP_CLIENT_LOGO=${REACT_APP_CLIENT_LOGO}
      - REACT_APP_CLIENT_LOGO_LINK=${REACT_APP_CLIENT_LOGO_LINK}
      - REACT_APP_POLUS_LOGO=${REACT_APP_POLUS_LOGO}
      - REACT_APP_POLUS_LOGO_LINK=${REACT_APP_POLUS_LOGO_LINK}
      - REACT_APP_SPHINX_LOGO=${REACT_APP_SPHINX_LOGO}
      - REACT_APP_SPHINX_LOGO_LINK=${REACT_APP_SPHINX_LOGO_LINK}
      - REACT_APP_KEYCLOAK_URL=${REACT_APP_KEYCLOAK_URL}
      - REACT_APP_REDIRECTURI=${REACT_APP_REDIRECTURI}
    ports:
      - "${PORT}:${PORT}"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://front:3000/Home" ]
      timeout: "300s"
      interval: "30s"
      retries: 3
      start_period: "15s"
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:21.0.1
    container_name: keycloak
    entrypoint: /opt/keycloak/bin/kc.sh start-dev --import-realm
    volumes:
      - ./keycloak/data:/opt/keycloak/data/h2
      - ./Keycloak/import:/opt/keycloak/data/import
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "${KEYCLOAK_PORT}:8080"
    restart: unless-stopped

networks:
  host:
    external: true
